<div class="container-fluid" style="padding:0">
  <header class="btn-danger clearfix">
    <h1 class="text-center">Common Service</h1>
  </header>
  <div class="col-xs-12">
    <h3>Import the service in your app module to access throughout app</h3>
    <code class="col-xs-12" [innerHTML]='CodeModule'></code>
  </div>
  <div class="col-xs-12">
    <h3>To test the service we are using below sample data</h3>
    <code class="col-xs-12" [innerHTML]="sampleData"></code>
  </div>
  <div class="col-xs-12">
    <h3>To read the complete code documentation plase click below link</h3>
    <a href="../documentation/">Code documentation</a>
  </div>
  <div class="col-xs-12">
    <h3>To check sampleData is undefined</h3>
    <code class="col-xs-12">
     this.undefinedData = this.cs.isUndefined(this.data);
  </code>
    <div class="alert alert-info">
      Sample Data is undefined = {{undefinedData}}
    </div>
  </div>
  <div class="col-xs-12">
    <h3>To check sampleData is defined</h3>
    <code class="col-xs-12">
      this.definedData = this.cs.isDefined(this.data);
    </code>
    <div class="alert alert-info">
      Sample Data is defined = {{definedData}}
    </div>
  </div>
  <div class="col-xs-12">
    <h3>To check sampleData is object</h3>
    <code class="col-xs-12">
      this.objectData = this.cs.isObject(this.data);
  </code>
    <div class="alert alert-info">
      Sample Data is Object = {{objectData}}
    </div>
  </div>
  <div class="col-xs-12">
    <h3>To loop the sampleData using forEach</h3>
    <code class="col-xs-12" [innerHTML]="forEachLoop"></code>
    <div class="alert alert-info" role="alert">
      Sample Data values after join = {{valuesInArray}}
    </div>
  </div>
  <div class="col-xs-12">
    <h3>To copy the sample data</h3>
    <code class="col-xs-12" [innerHTML]="copyDataCode"></code>
    <div class="alert alert-info" role="alert">
      Name in copy data= {{ this.copyData.name}}
    </div>
  </div>
  <div>
